
<app-header></app-header>


<app-nav-bar></app-nav-bar>

<app-slider></app-slider>
<app-benifits></app-benifits>
<app-categorie></app-categorie>








<!-- Products Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let i of productListe">
     <app-product></app-product>
    </div>
  </div>
</div>
<!-- Products End -->



<app-footer></app-footer>





<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


